@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Press+Start+2P);
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 50, social-icons/*.png */
.social-icons-sprite, .social-icons-facebook, .social-icons-twitter {
  background: url('../../images/dev/social-icons-s7086366db8.png') no-repeat;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icons-facebook {
  background-position: 0 0;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icons-twitter {
  background-position: 0 -37px;
}

/* line 10, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: 0px;
}
/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #root_footer {
  height: 0px;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 0px;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* line 63, ../../scss/style.scss */
html, body {
  height: 100%;
}

/* line 69, ../../scss/style.scss */
#container {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 5px 5px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background-color: yellow;
}

/* Global Reset */
/* line 79, ../../scss/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 84, ../../scss/style.scss */
html, body {
  height: 100%;
}

/* line 86, ../../scss/style.scss */
body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
}

/* line 91, ../../scss/style.scss */
a {
  text-decoration: none;
}

/* line 95, ../../scss/style.scss */
a:active, a:hover, a:visited {
  color: blue;
}

/* line 102, ../../scss/style.scss */
.header .social li {
  float: left;
  padding-right: 10px;
}
/* line 105, ../../scss/style.scss */
.header .social li a.social-icons-facebook {
  display: inline-block;
  height: 37px;
  width: 37px;
}
/* line 110, ../../scss/style.scss */
.header .social li a.social-icons-twitter {
  display: inline-block;
  height: 37px;
  width: 37px;
}
/* line 115, ../../scss/style.scss */
.header .social li span {
  display: none;
}
/* line 119, ../../scss/style.scss */
.header .social li:last-child {
  float: right;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0 0px;
}
/* line 128, ../../scss/style.scss */
.header .logo {
  height: auto;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
}

/* line 141, ../../scss/style.scss */
section h1 {
  display: inline-block;
  font-size: 35px;
}
/* line 144, ../../scss/style.scss */
section h1.amp {
  font-size: 30px;
  vertical-align: top;
}

/* line 151, ../../scss/style.scss */
nav a {
  font-size: 20px;
}

/* line 155, ../../scss/style.scss */
#footer {
  text-align: center;
}
/* line 158, ../../scss/style.scss */
#footer .contact {
  font-size: 14px;
}

/* line 163, ../../scss/style.scss */
.clear {
  overflow: hidden;
  clear: both;
}
