<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/dev/style.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            </div>

                {{ content }}
			
			<section></section>
			
            <div class="social">
              <p>
                <a href="">Fb</a> | <a href="/">twitter</a>
              </p>
            </div>
            
			<nav><a class="" href="/">home</a> | <a class="" href="">Sales</a> | <a class="" href="">Rentals</a> | <a class="" href="">and more</a></nav>
			
			<div class="footer">
              <div class="contact">
                <p>
                  518-755-4502  |  13 Water Street, Athens, NY 12015  |  paddleheadboards at gmail dot com
                </p>
              </div>
		    </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
